In [34]:
#import pandas
import pandas as pd

In [35]:
#1 Input the following data into a data frame called titanic, and display the entire data frame:
data = {'Sex': ['Children', 'Children', 'Children', 'Men', 'Men', 'Men', 'Men', 'Women', 'Women', 'Women', 'Women'],
        'Class': ['First', 'Second', 'Third', 'First', 'Second', 'Third', 'Crew', 'First', 'Second', 'Third', 'Crew'],
        'Survived': [6, 24, 27, 57, 14, 75, 192, 140, 80, 76, 20],
        'Died': [0, 0, 52, 118, 154, 387, 693, 4, 13, 89, 3]}
#Convert the dictionary to a dataframe
titanic = pd.DataFrame(data)
#isplay the entire dataframe
titanic

         Sex   Class  Survived  Died
0   Children   First         6     0
1   Children  Second        24     0
2   Children   Third        27    52
3        Men   First        57   118
4        Men  Second        14   154
5        Men   Third        75   387
6        Men    Crew       192   693
7      Women   First       140     4
8      Women  Second        80    13
9      Women   Third        76    89
10     Women    Crew        20     3

In [36]:
#2 Using Boolean Indexing, show the data of the people in first class.

first_class = titanic[titanic['Class'] == 'First']
#printing first class
print(first_class)

        Sex  Class  Survived  Died
0  Children  First         6     0
3       Men  First        57   118
7     Women  First       140     4

In [37]:
#3 Delete the crew members from the data (use Boolean indexing).
n_crew = titanic[titanic['Class'] != 'Crew']
#print no crew
print(n_crew)

        Sex   Class  Survived  Died
0  Children   First         6     0
1  Children  Second        24     0
2  Children   Third        27    52
3       Men   First        57   118
4       Men  Second        14   154
5       Men   Third        75   387
7     Women   First       140     4
8     Women  Second        80    13
9     Women   Third        76    89

In [38]:
# 4.Create a new column that is the total number of people for that group (those who survived + died.  Use Boolean Indexing in conjunction with selection of non-existent column).
n_crew = titanic[titanic['Class'] != 'Crew']
#no_crew['Total'] = no_crew['Survived'] + no_crew['Died']

# create a new column called 'Total' that is the sum of 'Survived' and 'Died'
n_crew['Total'] = n_crew['Survived'] + n_crew['Died']

# display the new dataframe
print(n_crew)

        Sex   Class  Survived  Died  Total
0  Children   First         6     0      6
1  Children  Second        24     0     24
2  Children   Third        27    52     79
3       Men   First        57   118    175
4       Men  Second        14   154    168
5       Men   Third        75   387    462
7     Women   First       140     4    144
8     Women  Second        80    13     93
9     Women   Third        76    89    165

/var/folders/91/smnkypkn49j1vh5pdj33vg440000gn/T/ipykernel_6322/1458156291.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_crew['Total'] = n_crew['Survived'] + n_crew['Died']

In [39]:
#5.Create a new column with the percentage of people who survived.
n_crew = titanic[titanic['Class'] != 'Crew']

# create a new column called 'Survival Percentage' that is the percentage of people who survived
n_crew['Survival Percentage'] = n_crew['Survived'] / (n_crew['Survived'] + n_crew['Died']) * 100

# display the new dataframe
print(n_crew)

        Sex   Class  Survived  Died  Survival Percentage
0  Children   First         6     0           100.000000
1  Children  Second        24     0           100.000000
2  Children   Third        27    52            34.177215
3       Men   First        57   118            32.571429
4       Men  Second        14   154             8.333333
5       Men   Third        75   387            16.233766
7     Women   First       140     4            97.222222
8     Women  Second        80    13            86.021505
9     Women   Third        76    89            46.060606

/var/folders/91/smnkypkn49j1vh5pdj33vg440000gn/T/ipykernel_6322/2765882543.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_crew['Survival Percentage'] = n_crew['Survived'] / (n_crew['Survived'] + n_crew['Died']) * 100

In [19]:
#6.Delete the column indicating the total number of people in that group.
n_crew = titanic[titanic['Class'] != 'Crew']
#create total num of people
n_crew['Total'] = n_crew['Survived'] + n_crew['Died']

# create a new column called 'Survival Percentage' that is the percentage of people who survived
n_crew['Survival Percentage'] = n_crew['Survived'] / (n_crew['Survived'] + n_crew['Died']) * 100

# drop the 'Total' column
n_crew = n_crew.drop('Total', axis=1)

# display the new dataframe
print(n_crew)

        Sex   Class  Survived  Died  Survival Percentage
0  Children   First         6     0           100.000000
1  Children  Second        24     0           100.000000
2  Children   Third        27    52            34.177215
3       Men   First        57   118            32.571429
4       Men  Second        14   154             8.333333
5       Men   Third        75   387            16.233766
7     Women   First       140     4            97.222222
8     Women  Second        80    13            86.021505
9     Women   Third        76    89            46.060606

/var/folders/91/smnkypkn49j1vh5pdj33vg440000gn/T/ipykernel_6322/1083985379.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_crew['Total'] = n_crew['Survived'] + n_crew['Died']
/var/folders/91/smnkypkn49j1vh5pdj33vg440000gn/T/ipykernel_6322/1083985379.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_crew['Survival Percentage'] = n_crew['Survived'] / (n_crew['Survived'] + n_crew['Died']) * 100

In [31]:
#7 create a new dataframe without the crew members
n_crew = titanic[titanic['Class'] != 'Crew']

# create a new column called 'Survival Percentage' that is the percentage of people who survived
n_crew['Survival Percentage'] = n_crew['Survived'] / (n_crew['Survived'] + n_crew['Died']) * 100

# show the rows where more than 80% of the people survived
more_than_80 = n_crew[n_crew['Survival Percentage'] > 80]

# display the new dataframe
print(more_than_80)

        Sex   Class  Survived  Died  Survival Percentage
0  Children   First         6     0           100.000000
1  Children  Second        24     0           100.000000
7     Women   First       140     4            97.222222
8     Women  Second        80    13            86.021505

/var/folders/91/smnkypkn49j1vh5pdj33vg440000gn/T/ipykernel_6322/1847601100.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_crew['Survival Percentage'] = n_crew['Survived'] / (n_crew['Survived'] + n_crew['Died']) * 100

In [32]:
#8 create a new dataframe without the crew members
n_crew = titanic[titanic['Class'] != 'Crew']

# create a new column called 'Survival Percentage' that is the percentage of people who survived
n_crew['Survival Percentage'] = n_crew['Survived'] / (n_crew['Survived'] + n_crew['Died']) * 100

# show the rows where less than 40% of the people survived
less_than_40 = n_crew[n_crew['Survival Percentage'] < 40]

# display the new dataframe
print(less_than_40)

        Sex   Class  Survived  Died  Survival Percentage
2  Children   Third        27    52            34.177215
3       Men   First        57   118            32.571429
4       Men  Second        14   154             8.333333
5       Men   Third        75   387            16.233766

/var/folders/91/smnkypkn49j1vh5pdj33vg440000gn/T/ipykernel_6322/1811358379.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_crew['Survival Percentage'] = n_crew['Survived'] / (n_crew['Survived'] + n_crew['Died']) * 100

In [42]:
n_crew.to_csv("titanic_data.csv",index=False)

In [43]:
titanic2=pd.read_csv("titanic_data2.csv")
titanic2

         Sex   Class  Survived  Died  Survival Percentage
0   Children   First         6     0           100.000000
1   Children  Second        24     0           100.000000
2   Children   Third        27    52            34.177215
3        Men   First        57   118            32.571429
4        Men  Second        14   154             8.333333
5        Men   Third        75   387            16.233766
6      Women   First       140     4            97.222222
7      Women  Second        80    13            86.021505
8      Women   Third        76    89            46.060606
9        men    crew       192   693            21.690000
10     women    crew        20     3            86.960000